@media(min-width:1024px){
//index
    .indexheader{
        width: 100%;
        nav ul li a{
            font-size: 35px;
        }
        .logo{
            width: 10%;
        }
    }
    .cuotas{
        font-size: 20px;
    }
    .mainind{
        width: 100%;
        .text-h1{
            font-size: 30px;
        }
    }
    .tarjeta{
        
        @include grid(repeat(1.1fr)/repeat(3.1fr),center,none);
    grid-template-areas:
    "vlack simbra brabo"
    
    ;
    .vlack{
        img{
            width: 15rem;
            align-items: center;
        }
        text-align: center;
        .texto-main{
            font-size: 20px;
        }
    }
    .simbra{
        img{
            width: 15rem;
            align-items: center;
        }
        text-align: center;
        .texto-main{
            font-size: 20px;
        }
    }
    .brabo{
        img{
            width: 15rem;
            align-items: center;
        }
        text-align: center;
        .texto-main{
            font-size: 20px;
        }
    }
    }
    .footer-edit{
        width: 100%;
        height: 100%;
        font-size: 15px;
    }
//accesorios
div{
    .opciones{
        font-size: 20px;
        text-align: center;
        @include gap(20px);
        @include flex(none,center,column);
        width: 100%;
        height: 100%;
    }
}
.top{
    width: 100%;
    font-size: 20px;
    .carri{
        display: none;
    }
}
.text-acc{
    font-size: 30px;
    text-align: center;
}
.accesorios{
    width: 10rem;
    height: 1000px;
    @include gap(20px);
    @include grid(repeat(2.1fr)/repeat(2.1fr),center,none);
    grid-template-areas:
    "gaunte mascara"
    "gryphon grip"
    ;
    .guante{
        img{
            width: 15rem;
            margin-left: 155%;
        }
        .texto-main{
            font-size: 20px;
            margin-left: 190%;
        }
    }
    .mascara{
        img{
            width: 15rem;
            margin-left: 190%;
        }
        .texto-main{
            font-size: 20px;
            margin-left: 230%;
        }
    }
    .gryphon{
        img{
            width: 15rem;
            margin-left: 155%;
        }
        .texto-main{
            font-size: 20px;
            margin-left: 190%;
        }
    }
    .grip{
        img{
            width: 15rem;
            margin-left: 190%;
        }
        .texto-main{
            font-size: 20px;
            margin-left: 230%;
        }
    }
}
.footer-acc{
    .footer-edit{
        width: 100%;
        height: 5rem;
        font-size: 12px;
        text-align: center;
    }
}
//palos bolsos
    .text-palos{
        font-size: 30px;
        text-align: center
    }
    .top{
        font-size: 25px;
    }
    
    .palos{
    width: 10rem;
    height: 500px;
    @include gap(20px);
    @include grid(repeat(1.1fr)/repeat(2.1fr),center,none);
    grid-template-areas:
    "palonegro paloblanco"
    ;
    .palonegro{
        img{
            width: 15rem;
            margin-left: 155%;
        }
        .texto-main{
            font-size: 20px;
            margin-left: 190%;
        }
    }
    .paloblanco{
        img{
            width: 15rem;
            margin-left: 190%;
        }
        .texto-main{
            font-size: 20px;
            margin-left: 230%;
        }
    }
}
.text-bolsos{
    font-size: 30px;
    text-align: center
}
.bolsos{
    width: 10rem;
    height: 500px;
    @include gap(20px);
    @include grid(repeat(1.1fr)/repeat(2.1fr),center,none);
    grid-template-areas:
    "bolsoadidas bolsosimbra"
    ;
    .bolsoadidas{
        img{
            width: 15rem;
            margin-left: 155%;
        }
        .texto-main{
            font-size: 20px;
            margin-left: 190%;
        }
    }
    .bolsosimbra{
        img{
            width: 15rem;
            margin-left: 190%;
        }
        .texto-main{
            font-size: 20px;
            margin-left: 230%;
        }
    }
}
.footer-palo{
    .footer-edit{
        width: 100%;
        height: 5rem;
        font-size: 12px;
        text-align: center;
    }
}
// indumentaria
        .text-indu{
            font-size: 30px;
            text-align: center;
        }
        .indu{
            width: 10rem;
            height: 500px;
            @include gap(20px);
            @include grid(repeat(1.1fr)/repeat(2.1fr),center,none);
            grid-template-areas:
            "pollera remera"
            ;
            .pollera{
                img{
                    width: 15rem;
                    margin-left: 155%;
                }
                .texto-main{
                    font-size: 20px;
                    margin-left: 190%;
                }
            }
            .remera{
                img{
                    width: 15rem;
                    margin-left: 190%;
                }
                .texto-main{
                    font-size: 20px;
                    margin-left: 230%;
                }
            }
        }
        .text-equipo{
            font-size: 30px;
            text-align: center;
        }
        .equipo{
            width: 10rem;
            height: 500px;
            @include gap(20px);
            @include grid(repeat(1.1fr)/repeat(2.1fr),center,none);
            grid-template-areas:
            "camiseta2023 camiseta2014"
            ;
            .camiseta2023{
                img{
                    width: 15rem;
                    margin-left: 155%;
                }
                .texto-main{
                    font-size: 20px;
                    margin-left: 190%;
                }
            }
            .camiseta2014{
                img{
                    width: 15rem;
                    margin-left: 190%;
                }
                .texto-main{
                    font-size: 20px;
                    margin-left: 230%;
                }
            }
        }
    .footer-ind{
        .footer-edit{
            width: 100%;
            height: 5rem;
            font-size: 12px;
            text-align: center;
        }
    }
// sale
.text-sale{
    font-size: 20px;
    text-align: center;
}
.sale{
    width: 10rem;
    height: 1000px;
    @include gap(20px);
    @include grid(repeat(5.1fr)/repeat(2.1fr),center,none);
    grid-template-areas:
    "campera termica"
    "calza botines"
    "canillerasimbra medias"
    ;
    .campera{
        img{
            width: 15rem;
            margin-left: 155%;
        }
        .texto-main{
            font-size: 20px;
            margin-left: 190%;
        }
    }
    .termica{
        img{
            width: 15rem;
            margin-left: 190%;
        }
        .texto-main{
            font-size: 20px;
            margin-left: 230%;
        }
    }
    .calza{
        img{
            width: 15rem;
            margin-left: 155%;
        }
        .texto-main{
            font-size: 20px;
            margin-left: 190%;
        }
    }
    .botines{
        img{
            width: 15rem;
            margin-left: 190%;
        }
        .texto-main{
            font-size: 20px;
            margin-left: 230%;
        }
    }
    .canillerasimbra{
        img{
            width: 15rem;
            margin-left: 155%;
        }
        .texto-main{
            font-size: 20px;
            margin-left: 190%;
        }
    }
    .medias{
        img{
            width: 15rem;
            margin-left: 190%;
        }
        .texto-main{
            font-size: 20px;
            margin-left: 230%;
        }
    }
    .footer-sale{
        .footer-edit{
            width: 100%;
            height: 5rem;
            font-size: 20px;
            text-align: center;
        }
    }
}
}